extends ../base

block title
    title Reportes

block js
    script(type='application/javascript' src='/js/reports.js')
    |   <script type="text/javascript">
    |       alertify.defaults.theme.ok = "btn btn-success";
    |       alertify.defaults.theme.cancel = "btn btn-danger";
    |   </script>  </script>
    
block styles
    //- link(rel="stylesheet", href="/css/pos.css")
    //link(rel="stylesheet", href="/vendor/flexboxGrid/flexboxgrid.min.css")
    link(rel="stylesheet", href="/css/reports.css")
        
