#############
## Python
#############
*.py[cod]
.pyc
# Packages
*.egg
*.egg-info
/*.pyc
build/
eggs/
parts/
.idea/
.idea
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

*/node_modules/*
/node_modules/*
/venv/*
