extends ../layout/base

block title
    title Landing

block js
    script(type='application/javascript' src="http://localhost:35729/livereload.js")
    script(type='application/javascript' src='js/landing.js')
    
block styles
    
    link(rel="stylesheet", href="css/landingStyles.css")
