extends ../base

block title
    title Inicio

block js
    script(type='application/javascript' src="http://localhost:35729/livereload.js")
    script(type='application/javascript' src='js/landing.js')
    |   <script type="text/javascript">
    |       alertify.defaults.theme.ok = "btn btn-success";
    |       alertify.defaults.theme.cancel = "btn btn-danger";
    |   </script>
    
block styles
    
    link(rel="stylesheet", href="css/landingStyles.css")
