doctype html
html
  head
    meta(charset='utf-8')
    title Autenticación
    link(rel='stylesheet', href='/css/login.css')
  body
    .login-page
      .form
        form.login-form(action='/login' method='post')
          input(type='text', name='username', placeholder='Usuario')
          input(type='password', name='password', placeholder='Contraseña')
          button Acceder
