@import "reset"
@import "_globalVars"

//boostrap just forms and tables
@import "../../public/vendor/bootstrap/bootstrap.min"
//grid system
@import "../../public/vendor/flexboxGrid/flexboxgrid.min"

@import "./sideMenu/sideMenu"

//defaults
.mainContainer
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 2
    transition: left 200ms ease-out
    &.pulled
        left: 250px


@import "./topBar/topBar"
