@import "../../../public/vendor/side-panel/style"
@import "../../../node_modules/alertifyjs/build/css/alertify"
@import "../../../node_modules/alertifyjs/build/css/themes/bootstrap"
@import "../../layout/layout"
@import "reset"
@import "posVars"
.mainContainer-content
    height: calc(100% - 150px)
    overflow-y: auto
    overflow-x: hidden

//Modules Imports
@import "../main/_all"
@import "../sidebar/_all"
@import "../invoice/all"
@import "../footer/footer"
@import "../pay/pay"
@import "../sales/sales"
