extends ../base

block title
    title Ventas

block js
    script(type='application/javascript' src='/js/sales.js')
    |   <script type="text/javascript">
    |       alertify.defaults.theme.ok = "btn btn-success";
    |       alertify.defaults.theme.cancel = "btn btn-danger";
    |   </script>

    
block styles
    link(rel="stylesheet", href="/css/sales.css")
        
        

        
