extends ../base

block title
    title Administración

block js
    script(type='application/javascript' src="http://localhost:35729/livereload.js")
    script(type='application/javascript' src='/js/admin.js')
    |   <script type="text/javascript">
    |       alertify.defaults.theme.ok = "btn btn-success";
    |       alertify.defaults.theme.cancel = "btn btn-danger";
    |   </script>
    
    
block styles
    link(rel="stylesheet", href="/vendor/dataTables/dataTables.min.css")
    link(rel="stylesheet", href="/css/adminStyles.css")
        
        

        
